@use '../../styles/vars';

.header {
  background: vars.$background;
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &-container {
    max-width: 960;
    padding: 1.45rem 1.0875rem;
  }

  &-title {
    margin: 0;

    &-link {
      color: vars.$light-color;
      text-decoration: none;
      transition: vars.$transition;
    }

    &-link:hover {
      opacity: vars.$opacity;
    }
  }
}
